@import './modules/navbar';
@import './modules/homepage';
@import './modules/footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.ham-burger i{
    color: #fff;
}

.ham-burger{
    display: none;
}