.parent-data{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    padding: 60px 0;

    .mission-values{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .fieldset-box fieldset{
            width: 250px;
            height: 100px;
            text-align: center;
            legend{
                padding: 0 5px;
                font-size: 1.2rem;
                font-weight: bolder;
                color: crimson;
                
            }
        }
    }

    .core-values{
        width: 80%;
        margin: auto;

        fieldset{
            legend{
                padding: 0 5px;
                font-size: 1.2rem;
                font-weight: bolder;
                color: crimson;
            }
        }
    }
}

.parent-guide{
    width: 60%;
    margin: auto;

    .guide-title{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        p{
            padding: 0 5px;
            font-size: 1.2rem;
            font-weight: bolder;
            color: crimson;
        }
    }

    span{
        font-weight: lighter;
        font-size: 0.8rem;
        color: rgb(179, 179, 179);
    }

    .guidelines{
        padding: 25px 0;
    }

    .parent-doc{
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px 0;

        .download-button button{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 150px;
            background: none;
            color: #ff9100;
            border:1px solid #ff9100;
            border-radius: 50px;
            padding: 5px 0;
            font-weight: bolder;

            i.cloud{
                font-size: 2rem;
            }
        }

        button:hover{
            cursor: pointer;
            background: #ff9100;
            color: #fff;
        }
    }
}

.shared-guide{
    width: 60%;
    margin: auto;

    .offical-image{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px
    }

    span{
        font-weight: lighter;
        font-size: 0.8rem;
        color: rgb(179, 179, 179);
    }

    .guidelines{
        padding: 25px 0;
    }
}

// Media Queries
@media screen and (max-width:768px){

    .parent-data {
        width: 90%;
        height: 100vh;
        .mission-values{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 50vh;
            .fieldset-box {
                fieldset{
                    width: 350px;
                }
            }
        }
    }

    .parent-guide, .shared-guide{
        width: 80%;
    }

    #parent .contact-pos{
        p{
            text-align: center;
            font-size: 2.5rem;
        }
    }
    
}

@media screen and (max-width:1400px){

    .parent-data {
        height: 100vh;
        .mission-values{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 50vh;
            .fieldset-box {
                display: flex;
                justify-content: center;
                width: 80%;
                fieldset{
                    width: 80%;
                }
            }
        }
    }
}